@import url('https://fonts.cdnfonts.com/css/nilland');

body * , * {
    font-family: 'Nilland', sans-serif;
}

.navbar-nav
{
    margin-left: auto; 
}
.bg-blue{
    background-color: cornflowerblue;
}
.text-light{
    color: white;
}

.nav-item {
    margin: auto 5px;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: bold;
    font-family: 'Nilland-Black', sans-serif !important;
}

.nav-item:hover {
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.1);
}

nav.navbar {
    padding: 10px 0 ;
}

.logo {
    margin: 0;
    font-family: 'Nilland-Black', sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.icon{
    font-size:48px;
    color:white;
    border-radius: 50%;

}
.padding{
    padding: 20px;
}
.border{
 border:10px white solid !important;
}

.non-round-br {
    border-radius: 50% 50% 0 50%;
    width: fit-content;
}

.features h1,
.features h2,
.features p {
    margin: 0;
}

.features > div {
    padding-top: 20px;
    padding-bottom: 20px;
}
.margin{
    margin-top: 20px;;
}
.calender-icon{
    font-size:48px;
    color: cornflowerblue;
    background-color: white;
    
}
.profile-icon{
    font-size:40px;
    color: cornflowerblue;
    background-color: white;
}
.rss-icon{
    color: #FFCC00;
}
.twitter-icon{
    color: #33CCFF;
}
.fb-icon{
    color: #6666CC;
}
.delicious-icon{
    color: #33CCCC;
}
.vimeo-icon{
    color: #3333FF;
}
.dribbble-icon{
    color: #FF3399;
}

.social-icons {
    font-size:40px;
    padding:5px;
    float: right;
}
mark { 
    background-color: yellow;
    color: black;
  }
.link{
    margin :0;
    padding: 0;
    display: inline-block;
}
.box{
    margin :0;
    padding: 0;
    display:inline-block;
    width: 2%;
    height: 1vh;
    background-image: linear-gradient(to top left, cornflowerblue 50%, white 50%);
}
.re-padding{
    margin:0;
    padding: 0;
}
.carousel-inner {
    width: 70%;
    margin: auto;
  }
  .carousel-control-prev-icon{
    color: gray;
  }
  .shadow{
    box-shadow: 10px 10px 5px grey;
  }
  .color{
      color:gray;
  }
 .header {
    background-image: url('backgroud.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  .size{
      height: 40px;
      width: 90px;
  }
  button{
      border: #cfe6ff 1px;
    background-image: linear-gradient(   #d3e8ff, #cbe5ff ,#c7e3ff  );
  }
  button:hover {
    background-image: linear-gradient(  #a6d9ff ,#9ad6ff,#8dd4ff );
    }
  .margin-top{
        margin-top: 10px;
 }
 .btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    